/* VARIABLES */
:root {
  --red: hsl(0, 100%, 74%);
  --blue: hsl(248, 32%, 49%);
  --blue-shadow: hsla(248, 22%, 30%, 40%);
  --dark-blue: hsl(249, 10%, 26%);
  --medium-grey: hsl(249, 2%, 41%);
  --greyish-blue: hsl(246, 25%, 77%);
  --green: hsl(154, 59%, 51%);
  --green-shadow: hsl(154, 59%, 46%);
  --green-highlight: hsl(154, 65%, 68%);
}

/* TYPOGRAPHY */
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: -0.02em;
  line-height: 1.25em;
}

.call-to-action.secondary {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
}

small {
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}

small a {
  text-decoration: none;
  font-weight: 600;
}

/* LAYOUT */
:root {
  --corner-radius: 10px;
}

body {
}

.container {
  max-width: 650px;
  min-width: 300px;
  min-height: 100vh;
  padding: 25px;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

h1 {
  margin-bottom: 35px;
}

p {
  font-weight: 500;
}

.call-to-action {
  padding: 1.5em 3em;
  border: none;
  border-radius: var(--corner-radius);
  margin: 25px 0;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: var(--corner-radius);
  padding: 25px;
  margin-bottom: 2rem;
}

.form-field {
  position: relative;
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  border-radius: var(--corner-radius);
  padding: 1em;
}

form .call-to-action {
  margin-top: 0;
}

small {
  margin: 0 1em;
}

/* COLOUR */

body {
  background-color: var(--red);
  background-image: url(images/bg-intro-mobile.png);
  color: white;
}

@media screen and (min-width: 450px) {
  body {
    background-image: url(images/bg-intro-desktop.png);
  }
}

form {
  background-color: white;
  color: var(--medium-grey);
}

input {
  border: 1px solid var(--greyish-blue);
  color: inherit;
  font-weight: 600;
}

::placeholder {
  color: inherit;
}

.primary {
  background-color: var(--blue);
}

.secondary {
  background-color: var(--green);
  color: white;
}

small a {
  color: var(--red);
}

/* DECORATION */

.call-to-action.primary,
form {
  box-shadow: 0px 10px var(--blue-shadow);
}

.call-to-action.secondary {
  box-shadow: 0px 5px var(--green-shadow);
  transition: background-color 300ms;
}

.call-to-action.secondary:hover,
.call-to-action.secondary:focus {
  background-color: var(--green-highlight);
}

/* FORM BEHAVIOUR */

label {
  display: none;
  visibility: hidden;
}

/* FORM VALIDATION */
.form-field.error input {
  border-color: var(--red);
  border-width: 2px;
}

.form-field:not(.error) .error-icon,
.form-field:not(.error) .error-text {
  display: none;
  visibility: hidden;
}

.form-field.error .error-text {
  display: block;
  visibility: visible;
  text-align: right;
  font-size: 0.625rem;
  font-weight: 500;
  font-style: italic;
  color: var(--red);
  margin-top: 1em;
  padding-right: 2px; /* this offsets the italic style pushing the text outside the box */
}

.form-field.error .error-icon {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  height: 1.2rem;
  width: 1.2rem;
}
