/* TYPOGRAPHY */

body {
  font-family: Poppins, sans-serif;
}

/* LAYOUT */
:root {
  --corner-radius: 10px;
}

body {
  padding: 25px;
}

.call-to-action {
  background-color: blue;
  padding: 1em;
  border-radius: var(--corner-radius);
}

form {
  display: flex;
  flex-direction: column;
  border-radius: var(--corner-radius);
}

/* COLOUR */
:root {
  --red: hsl(0, 100%, 74%);
}

body {
  background-color: var(--red);
  background-image: url(images/bg-intro-mobile.png);
}

form {
  background-color: white;
}

@media screen and (min-width: 450px) {
  body {
    background-image: url(images/bg-intro-desktop.png);
  }
}
